<!--The content below is only a placeholder and can be replaced.-->
<div class="body">
  <div id="header">
    <div>
      <h1 id="header-text">A&A Creations</h1>    
    </div>
    <div>
      <ul class="main-menu">
        <li class="main-menu-list"><a href="">Home</a></li>
        <li class="main-menu-list"><a href="">Products</a></li>
        <li class="main-menu-list"><a href="">Services</a></li>
        <li class="main-menu-list"><a href="">About Us</a></li>
        <li class="main-menu-list"><a href="">Contact</a></li>
        <li class="main-menu-list"><a href="">Blog</a></li>
        <li class="main-menu-list"><a href="">Become a Patron</a></li>
      </ul>
    </div>    
  </div>
  <div class="penguin-area">
      <app-main-component></app-main-component>
  </div>
