<!--The content below is only a placeholder and can be replaced.-->
<div class="body">
  <div id="header">
    <div>
      <h1 id="header-text">A&A Creations</h1>    
    </div>
    <div>
      <ul class="main-menu">
        <li class="main-menu-list" id="mmHome" style="background-color:#cb2025;"><a href="">Home</a></li>
        <li class="main-menu-list" id="mmProducts" style="background-color:#f8b334;"><a href="">Products</a></li>
        <li class="main-menu-list" id="mmServices" style="background-color:#97bf0d;"><a href="">Services</a></li>
        <li class="main-menu-list" id="mmAboutUs" style="background-color:#00a096;"><a href="">About Us</a></li>
        <li class="main-menu-list" id="mmContact" style="background-color:#93a218;"><a href="">Contact</a></li>
        <li class="main-menu-list" id="mmBlog" style="background-color:#93a6a8;"><a href="">Blog</a></li>
        <li class="main-menu-list" id="mmBecomeAPatron" style="background-color:#61a6a8;"><a href="">Become a Patron</a></li>
      </ul>
    </div>    
  </div>
  <div class="penguin-area">
      <app-main-component></app-main-component>
  </div>
